@import "tailwindcss";

/* En Tailwind 4, definimos el tema directamente aquí.
  Esto vincula nuestras variables de diseño con las clases de utilidad.
*/
@theme {
  /* --- PALETA DE COLORES (Logicube) --- */
  
  /* Primary */
  --color-luminous-orange: #EC672A;
  --color-dark-blue: #1A2988;

  /* Neutrals & Secundary */
  --color-pure-white: #FFFFFF;
  --color-ultramarine-blue: #16253E;
  --color-signal-white: #ECECF2;

  /* --- TIPOGRAFÍA --- */
  /* Vinculamos las variables que Next.js inyectará (en el layout) */
  --font-space-grotesk: var(--font-space-grotesk), sans-serif;
  --font-syne: var(--font-syne), sans-serif;

  /* --- GRADIENTES --- */
  --background-image-hero-gradient: linear-gradient(135deg, #1A2988, #16253E);
  --background-image-orange-gradient: linear-gradient(135deg, #EC672A 0%, #FF8E53 100%);
  --background-image-blue-gradient: linear-gradient(to right, #1A2988 0%, #16253E 100%);
}

/* Estilos base opcionales
*/
body {
  background-color: var(--color-signal-white);
  color: var(--color-ultramarine-blue);
  font-family: var(--font-space-grotesk);
}